<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Occasions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.css">
</head>

<body>
<main>
   <h2>List of occasions</h2>
    <div th:inline="text">Today is: [[${#dates.format(#dates.createNow(),'YYYY/MM/dd')}]]</div>
    <br/>

     <table>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Date</th>
       </tr>

       <tr th:each="occasion, occasionStat : ${occasions}">
            <td th:text="${occasionStat.index + 1}">Id</td>
            <td th:text="${occasion.description}">Description</td>
            <td th:text="${#temporals.format(occasion.date, 'd MMM')}">Date</td>
       </tr>
    </table>

     <br/>
     <br/>

     <fieldset>
         <legend>New Occasion</legend>
         <!--/*@thymesVar id="occasion" type="com.example.FamilyCalendar.model.Occasion"*/-->
         <form action="#" method="post" th:action="@{/occasions}" th:object="${occasion}">
             <p th:if="${#fields.hasAnyErrors()}" th:errors="*{all}"></p>

             <label> Description
                 <input type="text" th:field="${occasion.description}"/>
             </label>
             <label> Date
                 <input type="date" th:field="${occasion.date}" />
             </label>
             <label> Name
                 <input type="text" th:field="${occasion.person.name}" />
             </label>
             <label> Surname
                 <input type="text" th:field="${occasion.person.surname}" />
             </label>

             <p>
                 <button type="submit">Add</button>
                 <button type="reset">Clear</button>
             </p>
            </form>
        </fieldset>
    <br/>
    <a href="index.html">Back</a>
</main>
</body>
</html>