<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Persons</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.css">
</head>

<body>
<main>
    <h2>List of persons</h2>

        <div th:inline="text">Today is: [[${#dates.format(#dates.createNow(),'YYYY/MM/dd')}]]</div>
        <br/>

        <table>
            <!--/*@thymesVar id="persons" type="com.example.FamilyCalendar.model.Person"*/-->
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Occasions</th>
            </tr>

            <tr th:each="person, personStats : ${persons}">
                <td th:text="${personStats.index + 1}"></td>
                <td th:text="${person.name}"></td>
                <td th:text="${person.surname}"></td>
                <td>
                    <p th:each="occasion : ${person.occasions}">
                        <span th:text="${occasion.description}"></span>
                    </p>
                </td>
            </tr>
        </table>

        <br/><br/>
        <a href="index.html">Back</a>

</main>
</body>
</html>